<h1 class="mat-headline-4 h1">How we can help you?</h1>
<form [formGroup]="contactForm" class="contact-form center">
    <mat-form-field class="example-full-width">
      <mat-label>Full name</mat-label>
      <input matInput placeholder="Ex. juan dela cruz">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>E-Mail</mat-label>
        <input matInput placeholder="Ex. juan.delacruz@email.net">
      </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment and suggestion</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" class="btn-color">Submit</button>
  </form>
