<mat-toolbar>
  <button *ngIf="isMenuRequired == true" mat-icon-button (click)="opened=!opened">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/images/logo.png" alt="Logo" width="300" height="80">
  <span class="example-spacer"></span>
  <button mat-button (click)="openHome()">Home</button>
  <button mat-button (click)="openProducts()">Products</button>
  <button mat-button (click)="openAbout()">About</button>
  <button mat-button (click)="openContact()">Contact Us</button>
  <a *ngIf="isMenuRequired == false" routerLink="/login" mat-raised-button>Login</a>
  <a *ngIf="isMenuRequired == true" routerLink="/login" mat-raised-button>Logout</a>
</mat-toolbar>

<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav [(opened)]="opened" mode="side" #sidenav (click)="sidenav.toggle()">
    <mat-list>
      <mat-list-item>
        <button mat-button (click)="openProfile()">
          <mat-icon class="icon-display">person</mat-icon>
          <span>Profile</span>
        </button>
      </mat-list-item>

      <mat-list-item *ngIf="isAdmin == false">
        <button mat-button (click)="openCart()">
          <mat-icon class="icon-display" matBadge="{{totalItems}}" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon>
          <span>Cart</span>
        </button>
      </mat-list-item>

      <mat-list-item *ngIf="isAdmin == false">
        <button mat-button (click)="openCheckout()">
          <mat-icon class="icon-display">payment</mat-icon>
          <span>Checkout</span>
        </button>
      </mat-list-item>

      <mat-list-item *ngIf="isAdmin == false">
        <button mat-button (click)="openPendingOrders()">
          <mat-icon class="icon-display">local_shipping</mat-icon>
          <span>Pending Orders</span>
        </button>
      </mat-list-item>

      <mat-list-item *ngIf="isAdmin == true">
        <button mat-button (click)="openProductsPage()">
          <mat-icon class="icon-display">store_mall_directory</mat-icon>
          <span>Products Page</span>
        </button>
      </mat-list-item>

      <mat-list-item *ngIf="isAdmin == true">
        <button mat-button (click)="openAdminPage()">
          <mat-icon class="icon-display">group</mat-icon>
          <span>Admin Page</span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
