<div mat-dialog-content>
  <h1 mat-dialog-title>Edit Profile</h1>
  <form [formGroup]="editForm" >
      <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input formControlName="userName" matInput placeholder="John_Doe1" >
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="passWord" matInput type="password" placeholder="Password" >
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="eMail" matInput placeholder="john_doe1@email.net" >
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input formControlName="mobileNumber" matInput placeholder="09xx xxx xxxx" >
      </mat-form-field>

      <div mat-dialog-actions [align]="'end'">
          <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
          <button mat-stroked-button color="primary" (click)="updateProfile()">Update</button>
      </div>
  </form>
</div>
